.team{
    
}
.team__list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px 25px
}
.team__item{
    padding: 0 12px;
    width: 25%;
    margin-bottom: 30px;
}
.team__in{
    width: 100%;
    height: 100%;
}
.team__img{
    width: 100%;
    height: 280px;
    margin-bottom: 19px;
    img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.team__person{
    font-size: 22px;
    line-height: 1.05;
    font-family: 'acrombold';
    padding-bottom: 10px;
    margin-bottom: 7px;
    position: relative;
    &:after{
        content: "";
        display: inline-block;
        width: 40px;
        height: 1px;
        background: #F4004D;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
.team__pos{
    font-size: 16px;
    margin-bottom: 4px;
}
.team__phone{
    font-size: 20px;
    font-family: 'acrombold';
    padding-left: 33px;
    position: relative;
    &:before{
        content: "";
        display: inline-block;
        width: 22px;
        height: 22px;
        background: url(../img/svg/phone.svg) center/cover no-repeat;
        position: absolute;
        left: 0;
        top: 4px;
    }
}