<header class="page-header">
	<div class="container-fluid">
		<div class="top">
			<a href="#" class="menu-btn">
				<span class="burger-icon"></span>
			</a>
			<a href="#" class="logo"></a>
			<a href="#" class="top-btn">Хочу купить</a>
		</div>
		<div class="top-add">
			<div class="top-add__wrap">
				<a href="#" class="top-btn">Хочу купить</a>
				<div class="page-header-search">
					<a href="#" class="page-header-search__link js-search-link"></a>
					<div class="page-header-search__form">
						<form action="#" method="get">
							<input type="text" class="page-header-search__input">
							<input type="submit" class="page-header-search__submit">
							<a href="#" class="page-header-search__close js-search-close-link"></a>
						</form>
					</div>
				</div>
				<nav class="page-header-menu">
					<div class="page-header-menu__item m-sub">
						<a href="#" class="page-header-menu__link js-sub-toggle">Наши продукты</a>
						<div class="page-header-menu-sub">
							<div class="page-header-menu-sub__item">
								<a href="#" class="page-header-menu-sub__link">Керамическая плитка и керамогранит</a>
							</div>
							<div class="page-header-menu-sub__item">
								<a href="#" class="page-header-menu-sub__link">Сантехника</a>
							</div>
							<div class="page-header-menu-sub__item">
								<a href="#" class="page-header-menu-sub__link">Керамический кирпич</a>
							</div>
							<div class="page-header-menu-sub__item">
								<a href="#" class="page-header-menu-sub__link">Керамик 3д + 3Д интерьеры</a>
							</div>
						</div>
					</div>
					<div class="page-header-menu__item m-sub">
						<a href="#" class="page-header-menu__link js-sub-toggle">О компании</a>
						<div class="page-header-menu-sub">
							<div class="page-header-menu-sub__item">
								<a href="#" class="page-header-menu-sub__link">О бренде</a>
							</div>
							<div class="page-header-menu-sub__item">
								<a href="#" class="page-header-menu-sub__link">Команда управления</a>
							</div>
							<div class="page-header-menu-sub__item">
								<a href="#" class="page-header-menu-sub__link">Наши объекты</a>
							</div>
							<div class="page-header-menu-sub__item">
								<a href="#" class="page-header-menu-sub__link">Награды</a>
							</div>
						</div>
					</div>
					<div class="page-header-menu__item m-sub">
						<a href="#" class="page-header-menu__link js-sub-toggle">Партнерам</a>
						<div class="page-header-menu-sub">
							<div class="page-header-menu-sub__item">
								<a href="#" class="page-header-menu-sub__link">О бренде</a>
							</div>
							<div class="page-header-menu-sub__item">
								<a href="#" class="page-header-menu-sub__link">Команда управления</a>
							</div>
							<div class="page-header-menu-sub__item">
								<a href="#" class="page-header-menu-sub__link">Наши объекты</a>
							</div>
							<div class="page-header-menu-sub__item">
								<a href="#" class="page-header-menu-sub__link">Награды</a>
							</div>
						</div>
					</div>
					<div class="page-header-menu__item m-sub">
						<a href="#" class="page-header-menu__link js-sub-toggle">Где купить</a>
						<div class="page-header-menu-sub">
							<div class="page-header-menu-sub__item">
								<a href="#" class="page-header-menu-sub__link">О бренде</a>
							</div>
							<div class="page-header-menu-sub__item">
								<a href="#" class="page-header-menu-sub__link">Команда управления</a>
							</div>
							<div class="page-header-menu-sub__item">
								<a href="#" class="page-header-menu-sub__link">Наши объекты</a>
							</div>
							<div class="page-header-menu-sub__item">
								<a href="#" class="page-header-menu-sub__link">Награды</a>
							</div>
						</div>
					</div>
					<div class="page-header-menu__item m-sub">
						<a href="#" class="page-header-menu__link js-sub-toggle">Еще</a>
						<div class="page-header-menu-sub">
							<div class="page-header-menu-sub__item">
								<a href="#" class="page-header-menu-sub__link">О бренде</a>
							</div>
							<div class="page-header-menu-sub__item">
								<a href="#" class="page-header-menu-sub__link">Команда управления</a>
							</div>
							<div class="page-header-menu-sub__item">
								<a href="#" class="page-header-menu-sub__link">Наши объекты</a>
							</div>
							<div class="page-header-menu-sub__item">
								<a href="#" class="page-header-menu-sub__link">Награды</a>
							</div>
						</div>
					</div>
				</nav>
				<div class="page-header-lang">
					<a href="#" class="page-header-lang__link">Eng</a>
					<div class="page-header-lang__list">
						<div class="page-header-lang__item">
							<a href="#" class="lang__link">Ru</a>
						</div>
						<div class="page-header-lang__item">
							<a href="#" class="lang__link">De</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>