/*FONT-FAMILY*/
//$default-font:'tt_normsregular', Arial, sans-serif;
$default-font:'acromregular', sans-serif;

/*FONT-SIZE*/
$default-size-font: 16px;

/*BACKGROUND*/
$default-site-bg: #f3eff0;
// $alt-site-bg: #7A1774;

//$default-bg: #eeeeee;

/*TEXT-COLOR*/
$base-color: #000;

$alt-color: #F4004D;